@model IEnumerable<Humidity.Models.SensorReadingValue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sensorReadingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.readingValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.readingValueType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sensorReadingID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.readingValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.readingValueType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
